html {
	background-color: #149911;
}

.standardPicSize {
	height: 200px;
	width: 200px;
}

.basicProfile {
	background-color: #256D1B;
}

#namePlate {
	display: block;
	margin: 5px;
	width: 20%;
	float: left;
	border-radius: 10px;
	padding-left: 10px;
}

#nameHeader {
	display: inline-block;
}

#picBox {
	display: table;
}

#infoText {
	display: inline;
	width: 70%;
	margin: 5px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

#summaryText {
	clear: left;
}

#summaryHeader {
	text-align: center;
}

#summaryBox {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	background-color: #4E6E58;
	border-radius: 10px;
	padding: 5px;
}

#secret {
	position: absolute;
	width: 5px;
	height: 5px;
	bottom: 0;
}