html {
	background-color: #149911;
}

.standardPicSize {
	height: 200px;
	width: 200px;
}

.basicProfile {
	background-color: #256D1B;
}

#namePlate {
	/*display: table-cell;*/
	margin: 5px;
	width: 20%;
	float: left;
}

#nameHeader {
	display: inline;
	/*padding-right: 50px;*/
}

#picBox {
	/*background-color: #256D1B;*/
	display: table;
}

#summaryText {
	/*display: table-cell;*/
	width: 75%;
	margin: 5px;
	float: left;
	padding-left: 50px;
}
