html {
	background-color: #08BF63;
}

h1 {
	font-family: Garamond, Times New Roman, Monospace;
	color: #067D42;
	text-align: center;
}

#storyText {
	color: #197555;
	font-family: Comic Sans MS, Arial, Serif;
	font-size: 20px;
}

#ship {
	text-align: center;
}
